.myBlock
  position: relative
  padding: 16px
  background: #fff
  border-radius: 8px
  margin: 8px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4)
  width: 400px
  transition: box-shadow 0.2s

  & + &
    margin-top: 16px

  &.isActive
    /* active but not focused */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 0 1px blue

  .demoPage.hasFocus &.isActive
    /* active + focused */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 0px 2px blue

.myBlock-selectIndex
  position: absolute
  left: 0
  top: 0
  background-color: blue
  color: #fff
  font-size: 12px
  padding: 2px 8px
  border-radius: 8px 0 8px 0

.myBlock-addButton
  margin-right: auto
  display: block
  border: 0
  background-color: transparent
  color: #999
  cursor: pointer
  margin-top: 4px

  &:hover, &:focus
    color: blue
    text-decoration: underline

/* ------------------------------- */
.mySlot
  display: grid /* we use grid to place the <div class="mySlot-indexToDrop" /> correctly */
  padding: 8px
  background: linear-gradient(0deg, #f0f0f0, #eee)
  border: 1px solid #ccc
  border-radius: 8px

  &.isActive
    /* active but not focused */
    outline: 1px dashed #99c

  .demoPage.hasFocus &.isActive
    /* active + focused */
    outline: 2px dotted blue
    outline-offset: -1px

  &.isDragHovering
    /* extra style for drag and drop */
    outline: 2px dashed blue

.mySlot-emptyPlaceholder
  color: rgba(0, 0, 0, 0.4)
  text-align: center
  font-weight: 100

.mySlot-indexToDrop
  grid-area: 99999 / 1 / span 0 / -1
  /* todo: use grid-row-start to change position */
  box-sizing: border-box
  margin-bottom: -32px
  height: 32px
  z-index: 1
  pointer-events: none
  text-align: center
  transform: translateY(-50%)
  background-image: linear-gradient(0deg, #00f0 20%, #00f, #00f0 60%)
  color: #fff

/* ------------------------------- */
.blockNameInput
  border: 1px solid transparent
  border-bottom: 1px solid #eee
  outline: 0
  background: rgba(255, 255, 255, 0.2)
  font-size: inherit
  margin-bottom: 12px

  &:hover, &:focus
    border: 1px solid #999
    background: rgba(255, 255, 255, 0.4)

/* ------------------------------- */
.demoPage
  display: flex
  gap: 24px
  line-height: 1.5

.demoPage-blockArea
  flex: 1

.demoPage-introductionArea
  flex: 0 0 600px
  overflow-x: hidden

  kbd
    background: #eee
    border: 1px solid #ccc
    color: #666
    border-bottom-width: 2px
    padding: 1px 4px
    font-size: 0.7em
    border-radius: 4px
    display: inline-block
    vertical-align: baseline
  
  li
    min-height 2em
    &::marker
      color: #ccc

.demoPage-store
  border: 1px solid #999
  font-size: 12px
  background: #fcfcfc
  overflow: auto
  width: 100%
  box-sizing: border-box
  resize: vertical
  height: 40vh
  border-left: 3px solid #666

.demoPage-forkMe
  position: fixed
  right: 0
  top: -30px
  transform: translateX(30%) rotate(45deg)
  background: linear-gradient(0deg, #900, #933)
  color: white
  transform-origin: 0 0
  padding: 10px 50px
  margin: 0 -30px
  text-decoration: none
  font-size: 14px
